.header-overlay {
    background: var(--desaturated-dark-cyan);  
    opacity: 0.8;
    margin: 0px;
    height: 160px;
}
.header-overlay img {
    width: var(--container-width100);
    height: 160px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr auto;
    width: var(--container-width80);
    margin: 0px auto;
}
.filter-off {
    display: none;
}
.grid-child .filters-bg{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px, auto;
    width: 80%;
    height: 50px;
    background: var(--color-white);
    position: absolute;
    top: 105px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 15px 3px var(--color-shadow);
    -moz-box-shadow: 0 8px 15px 3px var(--color-shadow);
    box-shadow: 0 8px 15px 3px var(--color-shadow);
    align-content: space-around;
    grid-auto-flow: row;
}
.all-filters {
    align-self: center;
    margin: 0px;
}
.job-filter {
    margin-right: 10px;
}
.selected-filter {
    background-color: var(--color-filter-tablets);
    color: var(--color-title-hover);
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.remove-filter {
    background-color: var(--color-title-hover);
    color: var(--color-filter-tablets);
    padding: 8px;
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.remove-filter:hover {
    background-color: var(--color-dark-grey);
    cursor: pointer;
}
.clear-filter {
    color: var(--color-title-hover);
    position: absolute;
    right: 100px;
    align-self: center;
}
.clear-filter:hover {
    cursor: pointer;
}
.jobs-bg {
    margin: 100px auto;  
    box-sizing: border-box;
}
.jobs-data-container {
    box-sizing: border-box;
}
.job-container {
    width: var(--container-width100);;
    display: grid;
    grid-template-columns: 0.23fr 1fr 1fr;
    grid-template-rows: 0.35fr 0.35fr 0.35fr;
    grid-template-areas: 
        "logo employer ."
        "logo title tags"
        "logo description .";
        row-gap: 1rem;
    background: var(--color-white);
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 8px 5px var(--color-shadow);
    -moz-box-shadow: 0 8px 8px 5px var(--color-shadow);
    box-shadow: 0 8px 8px 5px var(--color-shadow);
}
.employer-logo {
    grid-area: logo;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.employer-logo img {
    width: 80px;
    height: 80px;
}
.employer-detail {
    grid-area: employer;
}
.employer-name {
    display: inline;
    color: var(--color-title-hover);
    font-weight: 800;
    font-size: 15px;
}
.new-tag {
    background: var(--color-title-hover);
    color: var(--color-tag-hover);
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 700;
}
.featured-tag {
    background-color: var(--color-dark-grey);
    color: var(--color-tag-hover);
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 700;
}
.job-title {
    grid-area: title;
    color: var(--color-dark-grey);
    font-weight: 800;
    font-size: 20px;
    padding-top: 10px;
}
.job-title:hover {
    color: var(--color-title-hover);
    cursor: pointer;
}
.filter-tablets {
    grid-area: tags;
    display: inline;
    padding: 2px;
}
.filter-tag {
    display: inline-flex;
    background-color: var(--color-filter-tablets);
    color: var(--color-title-hover);
    padding: 8px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.filter-tag:hover {
    background: var(--color-title-hover);
    color: var(--color-tag-hover);
    cursor: pointer;
}
.job-description {
    grid-area: description;
    color: var(--color-light-grey);
}
.job-langs-ul, .job-tools-ul {
    margin: 0px;
    padding: 0px;
}
.langs, .job-langs-ul, .tools, .job-tools-ul {
    display: inline;
    margin: 0px;
}
.job-langs-ul .job-langs-li, .job-tools-ul .job-tools-li {
    list-style: none;
    display: inline;
}
.job-postedAt, .job-contract, .job-location {
    margin-right: 20px;
}
/* footer */
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media only screen and (max-width: 1340px) {
    .job-container {
        display: grid;
        grid-template-columns: 0.23fr 0.8fr 0.8fr;
        grid-template-rows: 0.35fr 0.35fr 0.35fr;
        grid-template-areas: 
            "logo employer tags"
            "logo title tags"
            "logo description .";
    }
    .filters-bg {
        width: 81.60%;
    }
    .job-description {
        font-size: 12px;
    }  
}
@media only screen and (max-width: 786px) {
    .job-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.35fr 0.35fr 0.35fr 0.35fr 0.35fr;
        grid-template-areas: 
            "logo"
            "employer"
            "title"
            "description"
            "tags";
        row-gap: 0.1rem;
    }
    .clear-filter {
        right: 50px;
    }
    .filter-tablets {
        border-top: 0.5px solid var(--color-light-grey);
        padding-top: 15px;
    }
    .job-title {
        padding-top: 0px; 
    }
  }

  @media only screen and (max-width: 600px) {
    .filters-bg {
        width: 85.63%;
    }
    .job-container {
        margin-bottom: 50px;
    }
    .job-container > * {
        position: relative;
        top: -60px;
    }
    .clear-filter {
        right: 20px;
    }
    .filter-tablets {
        border-top: 0.5px solid var(--color-light-grey);
        padding-top: 10px;
    } 
  }