<div class="header-overlay">
  <img src="./assets/images/bg-header-desktop.svg"  alt="header">
</div>

<div class="container">

<!-- <div class="grid-child">
<div [ngClass]="{'filter-off': !isFilterOn}">
<div class="filters-bg">
  <div class="all-filters" *ngFor="let filter of jobFilters; let i = index">
    <div class="job-filter">
      <span class="selected-filter">{{filter}}</span>
      <span class="remove-filter" (click)=removeFilter(i)><img src="./../assets/images/icon-remove.svg" alt="remove filter" /></span>
    </div>
  </div>
  <div class="clear-filter" (click)=clearAllFilters()>clear</div>
</div>
</div>
</div> -->

<div class="jobs-bg grid-child">

  <div [ngClass]="{'filter-off': !isFilterOn}">
    <div class="filters-bg">
      <div class="all-filters" *ngFor="let filter of jobFilters; let i = index">
        <div class="job-filter">
          <span class="selected-filter">{{filter}}</span>
          <span class="remove-filter" (click)=removeFilter(i)><img src="./../assets/images/icon-remove.svg" alt="remove filter" /></span>
        </div>
      </div>
      <div class="clear-filter" (click)=clearAllFilters()>clear</div>
    </div>
  </div>

  <div class="jobs-data-container" *ngFor="let job of jobsData | jobfilter : jobFilters">
    <div class="job-container" *ngIf="job">
      <div class="employer-logo"><img src={{job.logo}} alt="company logo" /></div>

      <div class="employer-detail">
        <span><h4 class="employer-name">{{job.company}}</h4></span>
        <span class="new-tag" *ngIf="job.new">NEW!</span>
        <span class="featured-tag" *ngIf="job.featured">FEATURED</span>
      </div>

      <div class="job-title">{{job.position}}</div>

      <div class="job-description">
        <span class="job-postedAt">{{job.postedAt}}&nbsp;&nbsp;&nbsp;.</span>
        <span class="job-contract">{{job.contract}}&nbsp;&nbsp;&nbsp;.</span>
        <span class="job-location">{{job.location}}</span>
      </div>

      <div class="filter-tablets">
        <span class="job-role filter-tag" (click)=filterJobs(job.role)>{{job.role}}</span>
        <span class="job-level filter-tag" (click)=filterJobs(job.level)>{{job.level}}</span>

        <span class="langs">
          <ul class="job-langs-ul" *ngFor="let lang of job.languages">
            <li class="job-langs-li">
              <span class="job-lang filter-tag" (click)=filterJobs(lang)>{{lang}}</span>
            </li>
          </ul>
        </span>

        <span class="tools" *ngIf="job.tools">
          <ul class="job-tools-ul" *ngFor="let tool of job.tools">
            <li class="job-tools-li">
              <span class="job-tool filter-tag" (click)=filterJobs(tool)>{{tool}}</span>
            </li>
          </ul>
        </span>

      </div> <!-- end of DIV "filter-tablets" -->
    </div> <!-- end of DIV "job-container" -->
  </div>
</div> <!-- end of DIV jobs-bg -->

</div> <!-- end of DIV "container" -->

<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Code by <a href="http://farhatsharif.com" target="_blank">Farhat Sharif</a>.
</div>
